/* Provides site's basic static styling for a device with a screen size of 1280dp or more */

/* Variables */
$margin: 12px;
//$margin:6px;
$padding: 12px;
$page-width: 1186px; // Excluding padding, margins
$header-height: $base-header-height;
$header-logotype-height: $base-logotype-height;
$sitemap-logotype-height: $header-logotype-height;
$menu-width: 32em;
$spotlight-height: 275px;
$four-column-module-width: 282px;
$content-width: 593px;
$side-nav-width: 297px;
$module-width: 296px;
$base-font-scale: 115%;

/* CSS */

/* General */

body {
  margin: 0;
  padding: 0 0 $padding 0;
  background-color: $dark-background-color;
  -webkit-text-size-adjust: 100%; // Prevent iOS from resizing fonts automatically
}

p, li, tr {
  max-height: 999999px; // Prevent Android from resizing fonts automatically
}

/* Utilities */

.js .no-js { // Hide anything with the no-js class when JavaScript is enabled
  display: none !important;
}

.js-only {  // Hide anything with the .js-only class...
  display: none !important;
  .js & {  // ... unless JavaScript is enabled
    display: block !important;
  }
}

.scaled.inlinesvg .no-svg {  // Hide anything with the no-svg class if the browser supports inline SVGs
  display: none;
}

.svg {  // Hide anything with an svg class by default...
  display: none;
  .scaled.inlinesvg & {  // ... unless the browser supports inline SVGs and the items have been scaled
    display: block;
  }
}

.print-only {  // Hide anything with the print-only class
  display: none !important;
}

.mobile-only {  // Hide anything with the mobile-only class
  display: none;
}

.screen-reader-text {  // Hide screen reader text by making it very small and hidden outside the visible bounds of the container
  display: block;
  overflow:hidden;
  text-indent: 1280px;
  white-space: nowrap;
  color: transparent;
}

.ie7-fix {  // Hide IE7-specific content
  display: none;
}

.wufoo-form {  // Hide the Wufoo form container
  display: none;
}


/* Reusable elements */

/* Modules */
.module {
  display: block;
}

/* Expanding lists */
ul.concertina {
  list-style: none;
  padding: 0;
  .js & {
    margin: 0 0 0 1.5em;
  }
  ul {
    list-style: disc;
    margin: 0.5em 0 1em 0;
    .js & {
      display: none;
    }
  }
}

/* Toggle for expanding lists */
a.concertina {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 7px;
  background-repeat: no-repeat;
  ul.concertina & {
    cursor:pointer;
    display: block;
    width: auto;
    height: auto;
    margin-left: -1.5em;
    padding-left: 1.5em;
    background-position: left 0.3em;
  }
  &.active {
    background-image: url(#{$site-prefix}-contract.png);
    .scaled.inlinesvg  & {
      background-image: url(#{$svg-path}#{$site-prefix}-contract.svg);
    }
  }
  &.inactive {
    background-image: url(#{$site-prefix}-expand.png);
    .scaled.inlinesvg  & {
      background-image: url(#{$svg-path}#{$site-prefix}-expand.svg);
    }
  }
}

/* Scientific names */
span.scientific-name {
  font-style: italic;
  &>span {  // Ensure subspecies and variants aren't italicised
    font-style: normal;
  }
}

/* Park closure alerts */

.closure-announcement {
  overflow: hidden;
  margin-top: 1em;
  padding: 1em 1em 0.5em 1em;

  &.full {
    background-color:#f8e8e9;
    h2, a {
      color:#b51826;
    }
  }
  &.part {
    background-color:#fef6e8;
    h2, a {
      color:#f5a01a;
    }
  }
  h2 {
    margin-top: 0;
  }
}

/* In-content drop-down menus */
.tab {
  font-weight: bold;
  display: none;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 2.5em;
  .js & {
    display: block;
  }
  &>ul {
    height: 1.8em;
    border-bottom: solid 1px $main-brand-color/2 + $pale-brand-color/2;
    &>li {
      background-image: url(#{$shared-image-path}regional-menu-arrow-down.png);
      background-repeat: no-repeat;
      background-position: center right;
      .scaled.inlinesvg & {
        background-image: url(#{$svg-path}regional-menu-arrow-down.svg);
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      margin: 0 1em 0 0;
      padding: 0 1em 0 0;
      a {
        display: block;
        &.active {
          .scaled.inlinesvg  & {
            background-image: url(#{$svg-path}#{$site-prefix}-contract.svg);
          }
        }
        &.inactive {
          .scaled.inlinesvg  & {
            background-image: url(#{$svg-path}#{$site-prefix}-expand.svg);
          }
        }
      }
      ul {
        box-shadow: 0.2em 1em 1em rgba(0,0,0,0.3);
        font-weight: normal;
        left: 0;
        width: 16em;
        overflow:visible;
        padding: 0.5em;
        background-color: $pale-brand-color;
        border-collapse:separate;  // Necessary for IE9 to render box shadows
        border: solid 1px $main-brand-color/2 + $pale-brand-color/2;
        .boxshadow & {
          border: none;
        }
        li {
          float: none;
          width: auto;
          height: auto;
          margin: 0 0 0.25em 0;
        }
      }
      .dropdown {
        position: absolute;
        top: 1.3em;
        left: 0;
        display:none;
      }
      .no-touch &:hover .dropdown {
        display: block;
        clear: both;
      }
      .pointer {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 0.5em 0.5em 0.5em;
        border-color: transparent transparent ($main-brand-color/2 + $pale-brand-color/2) transparent;
        margin-left: 1em;
        .boxshadow & {
          border-color: transparent transparent $pale-brand-color transparent;
          border-color: transparent transparent rgba($pale-brand-color, 0.95) transparent;
        }
      }
    }
    &.right {
      float: right;
      li {
        ul {
          left: auto;
          right: 0;
        }
      }
    }
  }
}

/* Info box for Google Maps */
.gm-style {
  font-size: inherit;
  font-family: inherit;
  img {
    max-width: none;  // Make sure max width is not applied to Google Maps sprites
  }
}

.infobox {
  a {
    color: $pale-brand-color;
  }
   .panel {
    border: none;
    margin-top: 8px;
    margin-bottom: 20px;
    color: white;
    background: $main-brand-color;
    padding: 5px;
  }
  .pointer {
    position: absolute;
    bottom: 0;
    left: 100px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: $main-brand-color transparent transparent transparent;
  }
}

/* Page banners */
.banner-container {
  box-shadow: 0em 0.6em 1em rgba(0,0,0,0.3);
  position: relative;
  z-index: 1;
  width: 100%;
  min-width: $page-width + 2*$padding;
  font-size: $base-font-scale;
  &.layout-helper {
    height: 0;
    visibility: hidden;
  }
  &.warning {
    background-color: #fef6e8;
  }
  &.npsa {
    background-color: #555;
  }
  a {
    text-decoration: underline;
  }
  .banner {
    margin: 0 auto;
    padding: $padding;
    width: $page-width;
    h1 {
      margin: 0;
      line-height: normal;
      font-size: 125%;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

/* General navigation menu */
.menu-bar {
  position: relative;
  clear: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: $main-brand-color/2 + $pale-brand-color/2;
    &:hover .dropdown-container, &.focus .dropdown-container { /* Display the dropdown on hover */
      display:block;
    }
    &.last {
      border-width: 0;
    }
  }
  a {
    display:block;
    padding:14px;
  }
  &>li>a {
    color: white;
    height: 0;
    padding-bottom: 27px;
    line-height: 100%;
    &.active {
      font-weight: bold;
    }
  }
  &>li:hover>a, .dropdown-container {  // Use "background" instead of "background-color" to ensure fallback works in IE7
  color: $main-brand-color;
  background: $pale-brand-color;
  background: rgba($pale-brand-color, 0.95);
  }
  .dropdown-container {
    box-shadow: 0.2em 1em 1em rgba(0,0,0,0.3);
    position:absolute;
    display:none;
    overflow:visible;
    padding-bottom: 1em;
    left:-1px;
    width: $menu-width;
    border-collapse:separate;  // Necessary for IE9 to render box shadows
    border: solid 1px;
    border-top-width: 0;
    .boxshadow & {
      border: none;
    }
    ul{
      list-style:none;
      margin:0;
      padding:0;
      position:relative;
      height:100%;
      left:0;
      &>li {
        position:relative;
        float:none;
        border-style:none;
        background:none;
      }
    }
  }
  .last>.dropdown-container {
    left: auto;
    right: -1px;
  }
  .dropdown-column {
    float: left;
    margin-left: 1em;
    margin-right: -100%;
    width: ($menu-width - 3)/2;
    &.last {
      margin-left: ($menu-width - 3)/2 + 2em;
      margin-right: -100%;
    }
    &>ul>li>a { /* Menu headings */
      font-weight: bold;
      margin-top:1em;
      margin-bottom:0.5em;
      padding: 0.5em;
      color: white;
      background: $main-brand-color;
      background: rgba($main-brand-color, 0.80);
      &:hover {
        background: $main-brand-color;
      }
    }
    &>ul>li>ul>li>a { /* Menu subheadings */
      color: $body-text-color;
      margin:0;
      padding:0.2em 0 0.2em 0.5em;
    }
  }
}

/* Landing page modules */
.landing .module {
  width: $four-column-module-width - 2 * $padding;
  margin-left: $margin;
  margin-top: $margin;
  padding: $padding;
  float: left;
  position: relative;
  z-index: 1;  // Set the z-index to make sure standard modules are positioned above the feature or promotion modules
  overflow: hidden;
  h2 {
    font-size: 150%;
  }
  p a {
    color: $body-text-color;
  }
  &.mid, &.small {
    float: left;
    &.first {
      clear: left;
    }
    &.last {
      margin-right: $margin;
    }
  }
  &.mid {
    height: 194px;
    background-color: $pale-brand-color;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    &.lg {  // Larger image-base module; only includes headline
      padding: 0;
      height: 218px;
      width: $four-column-module-width;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: cover;
      h2 {
        position: absolute;
        display: inline-block;
        width:100%;
        margin: 0;
        padding: 0.5em 0.5em 0.5em 0.75em;
        bottom:0px;
        color:white;
        font-weight: normal;
        white-space: nowrap;
        box-sizing: border-box;
        background-image: url('#{$shared-image-path}lg-module-background.png');
        .rgba & {
          background-image: none;
          background-color: rgba(0,0,0,0.75);
        }
      }
    }
    h2 {
      margin-top: 90px;
      white-space: nowrap;
    }
    &.first {
      border-top-left-radius: 5%;
      &.lg {
        border-top-left-radius: 0;
      }
    }
    &.last {
      border-top-right-radius: 5%;
      &.lg {
        border-top-right-radius: 0;
      }
    }
    &.list {
      background-image: url(#{$site-prefix}-module-header-news.png);
      background-position: top right;
      background-repeat: no-repeat;
      background-size: auto 43px;
      .scaled.inlinesvg & {
        background-image: url(#{$svg-path}#{$site-prefix}-module-header-news.svg);
      }
      h2 {
        margin: 0 0 1.2em 0;
        a {
          color: white;
        }
      }
    }
  }
  &.small {
    width: $four-column-module-width - 2 * $padding;
    &.extra-space {
      margin-top: 2*$margin;
    }
    h2, p {
      margin: 0 0 0 71px + $padding;
    }
    h2 {
      font-size: 100%;
      font-weight: bold;
    }
    p {
      margin-top: 0.5em;
      font-size: 90%;
    }
    .overlay {
      border-radius: 40%;
      border-top-left-radius: 0;
      width: 71px;
      height: 71px;
      overflow: hidden;
      float: left;
      margin-right: $padding;
      background-repeat: no-repeat;
      background-size: auto 100%;

    }
    &.first .overlay {
        border-top-left-radius: 40%;
        border-bottom-left-radius: 0;
      }
    &.last .overlay {
        border-top-left-radius: 40%;
        border-top-right-radius: 0;
      }
  }
  &.icon, &#i-want-to {
    float: none;
    clear: right;
  }
  &.icon {
    height: 3.5em;
    border-top: solid 1px $main-brand-color/2 + $pale-brand-color/2;
    background-position: left center;
    background-repeat: no-repeat;
    margin-top: 0;
    &.primary.first {
      border-top: none;
    }
    &.secondary.first {
      margin-top: 0;
    }
    &.first {
      margin-top: $margin;
    }
    h2 {
      margin-left: 30%;
      margin-top: 0.75em;
      line-height: 100%;
    }
  }


    &.shortIcon {
    height: 2.8em;
    border-top: solid 1px $main-brand-color/2 + $pale-brand-color/2;
    background-position: left center;
    background-repeat: no-repeat;
    margin-top: 0;
    float:left;
    &.primary.first {
      border-top: none;
    }
    &.secondary.first {
      margin-top: 0;
    }
    &.first {
      margin-top: $margin;
    }
    &.last {
      border-bottom: solid 1px $main-brand-color/2 + $pale-brand-color/2;
    }
    h2 {
      margin-left: 30%;
      margin-top: 0.6em;
      line-height: 100%;
    }
  }


  &.promotion {
    width: $four-column-module-width - 2 * $padding + $margin;  // Incorporate the right-hand margin into the width so the image is flush with the container
    height: auto;
    min-height: 140px;
    margin-right: 0;
    padding-bottom: 0;
    position: absolute;
    overflow: visible;
    right: 0;
    bottom: 0;
    z-index: 0;
    h2, p, blockquote {
      position: relative;
      width: 58%;
      &.manual-line-breaks {
        width: auto;
      }
    }
    p, blockquote {
      margin: 0.5em 0 1em 0;
    }
    p {
      font-size: 90%;
    }
    blockquote {
      color: $main-brand-color;
      &::before {
        content: '“';
        position: absolute;
        left: -0.5em;
      }
      &::after {
        content: '”';
      }
    }
    .profile {
      position: absolute;
      height: 140px;
      width: 100%;
      bottom: 0;
      right: 0;
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  h2 {
    /*margin-top: 0;*/
  }
}

// Homepage feature panel
#feature{
  height:325px;
  background-color: #999999;
  z-index: 0;
  color: white;
  h2, a {
    color:white;
  }
  h2, p {
    width: auto;
  }
  img {
    position:absolute;
    bottom:0px;
    right:0px;
  }
}



/* Content page modules */
.content .module {
  position: relative;
  overflow: hidden;
  width: $module-width - 2 * $padding;
  padding: 0 0 $padding 0;
  margin: 0 -100% 0 ($side-nav-width + $content-width + $padding);
  border-bottom: solid 1px $main-brand-color/2 + $pale-brand-color/2;
  &.last {
    border-bottom: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: 0;
      padding: 0 0 0.5em 0;
    }
  }
  a.toggle {
    position: absolute;
    right: 0;
    bottom: 12px;
    display: block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    &.active {
      background-image: url(#{$site-prefix}-contract.png);
      .scaled.inlinesvg  & {
        background-image: url(#{$svg-path}#{$site-prefix}-contract.svg);
      }
    }
    &.inactive {
      background-image: url(#{$site-prefix}-expand.png);
      .scaled.inlinesvg  & {
        background-image: url(#{$svg-path}#{$site-prefix}-expand.svg);
      }
    }
  }
  &.navigation {
    width: 200px;
    height: 140px;
    overflow: hidden;
    float: left;
    padding: $padding $padding $padding ($padding + 155px);
    margin: $margin 0 0 $margin;
    line-height: 120%;
    border: none;
    background-image: url(http://placehold.it/155x164);
    background-repeat: no-repeat;
    background-color: $pale-brand-color;
    &.position-0 {
      clear: both;
    }
    h2 {
      margin-top: 0.5em;
    }
    p a {
      color: $body-text-color;
    }
  }
}

/* "While you are here" listing */
.module.actions {
  width: $four-column-module-width - 2*$padding;
  float: left;
  margin: -1px 0 0 0;
  padding: $padding $padding 0 $padding;
  border-top: solid 1px $main-brand-color/2 + $pale-brand-color/2;
  h2 {
    margin: 0 0 $margin 0;
  }
  ul {
    line-height: 120%;
    padding-left: 0.5em;
    margin: 0;
    list-style: none;
    font-size: 90%;
    li {
      background-image: url(#{$site-prefix}-nav-arrow-right.png);
      background-repeat: no-repeat;
      background-position: 0 0.18em;
      padding-left: 1.5em;
      margin-bottom: 0.5em;
      a {
        color: $body-text-color;
      }
      .scaled.inlinesvg & {
         background-image: url(#{$svg-path}#{$site-prefix}-nav-arrow-right.svg);
      }
    }
  }
}

/* Campground and native species formatting */
.campground {
  h3 {
    margin-top: 1em;
    margin-bottom: 0;
  }
}
.species, .campsite {
  float: left;
  width: $content-width - 128px - $padding;
}
img.species, img.campsite {
  margin: 1em 0;
  padding-right: $padding;
  width: 128px;
  box-sizing: border-box;
}


/* Specific elements */

/* Page container */
#container {
  width: $page-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 12px 12px 12px;
  font-size: $base-font-scale;
  line-height: 120%;
  .multiplebgs & {  // Add the background shadows for browsers that support it
    background-image: url(#{$shared-image-path}regional-footer-shadow-left.png), url(#{$shared-image-path}regional-footer-shadow-right.png), url(#{$shared-image-path}regional-footer-shadow-top-left.png), url(#{$shared-image-path}regional-footer-shadow-top-right.png);
    background-position: bottom left, bottom right, left, right;
    background-repeat: no-repeat, no-repeat, repeat-y, repeat-y;
    background-size: auto 67px, auto 67px, 24px 100%, 24px 100%;
  }
  .light {background-color: $mid-brand-color !important;}
}

/* Site header */
#header {
  position: relative;
  width: 100%;
  height: $header-height;
  overflow: hidden;
  background-color: $header-background-color;
  background-image: $header-background-image;
  background-position: $header-background-position;
  background-repeat: no-repeat;
  background-size: auto 100%;
  @if $header-background-svg != $header-background-image {
    .scaled.inlinesvg & {
      background-image: $header-background-svg;
    }
  }
  h1 {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    height: $header-logotype-height;
    background-image: $header-logotype-image;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto 100%;
    @if $header-logotype-svg != $header-logotype-image {
      .scaled.inlinesvg & {
        background-image: $header-logotype-svg;
      }
    }
    a {
      display: block;
      width: $logotype-width;
      height: $logotype-height;
      margin: $logotype-margin-top 0 0 $logotype-margin-left;
      font-size: 0;
    }
  }
  ul {
    @if $header-text-opacity {
      opacity: $header-text-opacity;
    }
    position: absolute;
    bottom: 0;
    right: 0;
    list-style: none;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    li {
      height: 2em;
      line-height: 2em;
      margin-left: 0.4em;
      float: left;
      color: $header-text-color;
      &+li {
        @mixin before {
          display: block;
          float: left;
          content: "|";
          margin-right: 0.4em;
        }
        &:before {
          @include before;
        }
        &::before {
          @include before;
        }
      }
      a {
        color: $header-text-color;
        font-weight: bold;
        &.icon {
          width: 2em;
          background-position: center;
          background-repeat: no-repeat;
          @each $channel in facebook, twitter, youtube, instagram {
            &.#{$channel} {
              background-image: url(#{$site-prefix}-#{$channel}.png);
              .scaled.inlinesvg & {
                background-image: url(#{$svg-path}#{$site-prefix}-#{$channel}.svg);
              }
            }
          }
        }
      }
    }
  }
}

/* Main navigation menu and search bar */
#menu {
  position: relative;
  z-index: 3 ;
  width: 100%;
  height: 41px;
  background-color: $main-brand-color;
  background-image: url(#{$shared-image-path}regional-menu-background.png);
  background-repeat: repeat-x;
  form {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: none;
    input[type=text] {
      border-radius: 0 0 0 10% / 0 0 0 50%;
      position: absolute;
      font-size: 100%;
      font-style: italic;
      color: $main-brand-color;
      top: 0;
      right: 0;
      border: none;
      width: 15em;
      height: 13px;
      padding: 14px 1em;
      margin: 0;
      background-color: $pale-brand-color;
      background-image: url(#{$shared-image-path}regional-menu-background.png);
      background-position: right;
      background-size: auto;
      &.active {
        font-style: inherit;
        color: inherit;
      }
      &.dark{
        background-color: $dark-brand-color;
        color:$pale-brand-color;
      }
    }
    input[type=submit] {
      cursor:pointer;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 100%;
      width: 41px;
      height: 41px;
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;
      background-image: url(#{$site-prefix}-search-button.png);
      .scaled.inlinesvg & {
        background-image: url(#{$svg-path}#{$site-prefix}-search-button.svg);
      }
    }
  }
}

#menu-toggle {  // Mobile menu toggle
  display: none;
}

/* Seamless's mainForm container */
#mainForm {
  margin: 0;
  padding: 0;
}

/* The page's dynamic content */
#main {
  width: 100%;
  min-height: 30em;
  position: relative;
  overflow: hidden;
  padding-bottom: $margin;
  background-color: $pale-background-color;
  &.content {
    line-height: 140%;
    padding-bottom: 3 * $margin;
    a {
      text-decoration: underline;
    }
    .module {
      text-decoration: none;
      h2, p {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &.iframe {
    padding-bottom: 0;
  }
}

/* Spotlight modules */
#spotlight {
  position: relative;
  height: $spotlight-height;
  width: 3 * $four-column-module-width + 2 * $margin;
  clear: left;
  margin-right: $margin;
  padding: 0;
  &.wide {
    width: $page-width;
    margin: 0.5*$padding 0 0 0;
    float: none;
    h2, p, ol {
      margin-left: 2*$padding;
    }
    h2 {
      margin-top: 6*$padding;
      width: 24%;
    }
    p {
      width: 28%;
    }
    .item .overlay {  // The background images for the wide spotlight
      height: 275px;
      width: 1000px;
      &.right {  // The user-defined spotlight background image
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  h2, p {
    width: 32.5%;
    position:relative;
    margin: $padding;
  }
  h2 {
    font-size:230%;
    line-height: 100%;
  }
  p {
    font-size:130%;
    line-height: 150%;
  }
  ol {
    display: none;
    font-weight: bold;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    padding: 0;
    margin: $padding;
    list-style: none;
    .js & {
      display: block;
    }
    li {
      display: inline-block;
      margin: 0 0.3em 0 0;
      .touch & {
        margin-right: 1em;
        width: 1.2em;
        height: 1.2em;
        background-color: transparent;
        &.highlight a {
            padding: 0;
            background-color: transparent;
            border-color: $main-brand-color;
        }
        a {
          border: solid 0.1em transparent;
          height: 1em;
          width: 1em;
          background-clip: padding-box;
          background-color: $main-brand-color;
        }
      }
      &.last {
        margin-right: 0;
      }
      &.highlight a {
        background-color: $main-brand-color;
      }
      a {
        border-radius: 50%;
        display: block;
        width: 1em;
        height: 1em;
        color: white;
        background-color: $main-brand-color/2 + $pale-brand-color/2;
        &:hover {
          text-decoration: none;
          background-color: $main-brand-color;
        }
      }
    }
  }
  .item {  // The container for each individual spotlight entry
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &.active {
      opacity: 0;
    }
    &.template {  // Template entries are used to create active ones
      width: 0;
      height: 0;
      overflow: hidden;
    }
    .overlay {  // The background images for the spotlight
      position: absolute;
      height: 275px;
      width: 579px;
      top: 0;
      &.left {  // The generic spotlight background image
        left: 0;
        background-image: url(#{$site-prefix}-spotlight-overlay.png);
        background-repeat: no-repeat;
        background-size: auto 101%;
        .scaled.inlinesvg & {
          background-image: url(#{$svg-path}#{$site-prefix}-spotlight-overlay.svg);
        }
      }
      &.right {  // The user-defined spotlight background image
        border-bottom-right-radius: (275/579) * 5% 5%;
        border-top-right-radius: (275/579) * 1.5% 1.5%;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

/* "I want to" listing */
#i-want-to {
  height: $spotlight-height;
  width: $four-column-module-width;
  padding: 0;
  &.short{
    height:90px;
    overflow:hidden;
  }
  h2 {
    margin-top: 0;
  }
  ul {
    line-height: 120%;
    padding-left: 0.5em;
    margin-left: 0;
    list-style: none;
    li {
      background-image: url(#{$site-prefix}-nav-arrow-right.png);
      background-repeat: no-repeat;
      background-position: 0 0.18em;
      padding-left: 1.5em;
      margin-bottom: 0.5em;
      a {
        color: $body-text-color;
      }
      .scaled.inlinesvg & {
         background-image: url(#{$svg-path}#{$site-prefix}-nav-arrow-right.svg);
      }
    }
  }
}

/* Breadcrumbs and general page content */
#breadcrumbs, #content {
  float: right;
  clear: right;
  width: $content-width;
  padding: 0;
  margin: $padding $module-width $padding -100%;
  .blank>& {
    float: none;
    width: auto;
    margin: $padding $padding 0 $padding;
  }
  .no-modules>& {
    width: $content-width + $module-width - $padding;
    margin-right: $padding;
  }
}

#breadcrumbs {
  margin-bottom: 0;
  a {
    font-weight: normal;
  }
  #navigation-toggle {  // Define the navigation toggle here (even though it's not displayed) to keep the CSS simpler
    display: none;
    text-decoration: none;
    margin-right: 0.5em;
    padding-left: 1.5em;
    background-repeat: no-repeat;
    background-position: 0 0.25em;
    background-size: auto 0.87em;
    &.active {
      background-image: url(#{$site-prefix}-contract.png);
      .scaled.inlinesvg  & {
        background-image: url(#{$svg-path}#{$site-prefix}-contract.svg);
      }
    }
    &.inactive {
      background-image: url(#{$site-prefix}-expand.png);
      .scaled.inlinesvg  & {
        background-image: url(#{$svg-path}#{$site-prefix}-expand.svg);
      }
    }
  }
  p {
    margin: 0;
  }
  #navigation-toggle {
    display: none;
  }
}

#content {
  h1, h2, h3, hr {
    clear: both;
  }
  h1, h2 {
    strong {
      font-weight: normal;
    }
  }
  table, td, th {
    border-style: solid;
    border-width: 1px;
    border-color: $pale-brand-color;
    border-collapse: collapse;
    padding: 0.5em;
  }
  table {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  th {
    border-style: none;
    font-weight: bold;
    background-color: $pale-brand-color;
  }
  .noBorderTable {
    margin: 0;
    border: none;
    td, th {
      padding: 0;
      border: none;
    }
  }
  /* Seamless forms */
  .se-form-container { // These must be nested under #content to override the general content defaults
    .item {
      margin: $margin 0;
      overflow: hidden;
      clear: both;
      a, div.error { // anchor tags used by Seamless' native forms to display errors; "error" class divs used for JavaScript-enabled third-part forms
        color: #f00000;
        font-weight: bold;
        text-decoration: none;
        display: block;
        clear: both;
        padding-top: 0.5em;
      }
      div.error { // Hide by default; show dynamically as required using JavaScript
        display: none;
      }
      &>label, &>span {
        margin: 0 -100% 0 0;
        padding: 0;
        display: block;
        width: 27.5%;
        float: left;
      }
      div.RadCaptcha {
        margin: 1em 0 0 30%;
        float: left;
      }
      img {
        border: 1px solid grey !important;
      }
      input[type=text], input[type=file] {
        margin: 0 0 0 30%;
        display: block;
        width: 65%;
        float: left;
      }
      input[type=submit] {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      textarea {
        margin: 0 -100% 0 30%;
        display: block;
        width: 65%;
        height: 8em;
        float: left;
      }
      select {
        margin: 0 -100% 0 30%;
        display: block;
        max-width: 65%;
        float: left;
      }
      table, th, td {
        border: none;
        padding: 0;
      }
      table {
        margin: 0 -100% 0 30%;
        display: block;
        width: 65%;
        input {
          float: left;
          margin: 0.2em 0.5em 0 0;
        }
        label {
          width: 95%;
          padding-bottom: 0.5em;
        }
      }
    }
  }
}

/* Secondary navigation menu */
#navigation {
  float: left;
  width: $side-nav-width - 2 * $padding;
  margin: 0 -100% 0 0;
  padding: $padding;
  ul {
    font-weight: bold;
    padding-left: 0;
    list-style: none;
    li {
      padding-left: 1.5em;
      background-image: url(#{$site-prefix}-nav-arrow-right.png);
      background-repeat: no-repeat;
      background-position: 0 0.18em;
      ul {
        font-weight: normal;
      }
      &.parent {
        background-image: url(#{$site-prefix}-nav-arrow-down.png);
        .scaled.inlinesvg & {
          background-image: url(#{$svg-path}#{$site-prefix}-nav-arrow-down.svg);
        }
      }
      .scaled.inlinesvg & {
         background-image: url(#{$svg-path}#{$site-prefix}-nav-arrow-right.svg);
      }
    }
  }
}

/* Location module, used to show a Google Map with a single marker */
#location {
  display: none;
  &.active {
    display: block;
  }
  #map {
    width: 100%;
    height: 0;
    padding: 0;
    padding-bottom: 100%;
  }
}

/* Image gallery module */
#image-gallery {
  a {
    display: block;
  }
  img {
    display: block;
    width: 100%;
  }
  .wrapper {
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 66.6%;
  }
}

/* Persistent modules */
#find-us, #catalogue, #orders {
  background-repeat: no-repeat;
  .scaled & {
    background-size: auto 100%;
  }
  h2 {
    margin-left: 30%;
  }
}

#find-us {
  $icon-type: if($find-us-icon, $find-us-icon, location);

  background-image: url(#{$site-prefix}-icon-#{$icon-type}.png);
  .scaled.inlinesvg & {
    background-image: url(#{$svg-path}#{$site-prefix}-icon-#{$icon-type}.svg);
  }
}

#catalogue {
  background-image: url(#{$site-prefix}-icon-catalogue.png);
  .scaled.inlinesvg & {
    background-image: url(#{$svg-path}#{$site-prefix}-icon-catalogue.svg);
  }
}

#orders {
  background-image: url(#{$site-prefix}-icon-order.png);
  .scaled.inlinesvg & {
    background-image: url(#{$svg-path}#{$site-prefix}-icon-order.svg);
  }
}


/* The container for large interactive Google Maps */
#map-container {
  #map-list {
    h2 {
    clear: none;
  }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        margin: 0;
        padding: 0 0 0.5em 0;
      }
    }
  }
  #map {
    float: right;
    clear: right;
    width: $content-width + $module-width - $padding;
    height: 40em;
    margin: 0 0 0 $padding;
  }
}

/* Bottom of page "sitemap" */
#sitemap {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #333333;
  background-image: $sitemap-background-image;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  .logotype {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    height: $sitemap-logotype-height;
    width: 100%;
    background-image: $header-logotype-image;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    &.reverse {
      background-image: $header-reverse-logotype-image;
      @if $header-reverse-logotype-svg != $header-reverse-logotype-image OR $header-logotype-svg != $header-logotype-image {
        .scaled.inlinesvg & {
          background-image: $header-reverse-logotype-svg;
        }
      }
    }
    @if $header-logotype-svg != $header-logotype-image {
      .scaled.inlinesvg & {
        background-image: $header-logotype-svg;
      }
    }
    a {
      display: block;
      width: $logotype-width;
      height: $logotype-height;
      margin: $logotype-margin-top 0 0 $logotype-margin-left;
      font-size: 0;
    }
  }
  @if $sitemap-background-svg != $sitemap-background-image {
    .scaled.inlinesvg & {
      background-image: $sitemap-background-svg;
    }
  }
  .wrapper {
    position: relative;
    float: right;
    height: 100%;
    min-height: 180px;
    margin: 36px 36px 0 0;
    line-height: 120%;
    &>ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      &>li {
        float: left;
        overflow: hidden;
        margin: 0 0 -20em 1.7em;
        padding: 0 0 21em 0.85em;
        color: white;
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: ($main-brand-color/2 + $pale-brand-color/2) * 0.5;
        .rgba & {
          border-left-color: rgba($main-brand-color/2 + $pale-brand-color/2, 0.3);
        }
        &.white{
          //border-left-color: white !important;
          border-left-color: $pale-brand-color !important;
        }
        &>ul {
          font-size: 85%;
          list-style-type: none;
          padding: 0;
          margin: 0;
          margin-top: 0.5em;
          &>li {
            margin: 0;
            padding: 0;
            &>a {
              color: $sitemap-text-color;
            }
          }
        }
      }
    }
  }
}

/* Site footer, including government logos and disclaimers */
#footer {
  position: relative;
  overflow: hidden;
  p {
    font-size: 75%;
    margin: 0.4em 1em;
    //color: $pale-brand-color;
    color : white;
    &.switch {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    a {
      //color: $pale-brand-color;
      color: white;
    }
  }
  .logos, .spacer {
    float: left;
    height: 55px;
    margin-right: -100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .logos {
    background-image: url(#{$site-prefix}-footer-background-left.png);
    background-position: left;
    background-repeat: no-repeat;
    width: 635px;
    .scaled.inlinesvg & {
      background-image: url(#{$svg-path}#{$site-prefix}-footer-background-left.svg);
    }
    a {
      float:left;
      margin-left: 2.5em;
      height: inherit;
      background-repeat: no-repeat;
      background-size: contain;
      &.gosa {
        width: 132px;
        background-image: url(#{$shared-image-path}regional-footer-gosa.png);
        .scaled.inlinesvg & {
          background-image: url(#{$svg-path}regional-footer-gosa.svg);
        }
      }
      &.south-australia {
        width: 123px;
        background-image: url(#{$shared-image-path}regional-footer-south-australia.png);
        .scaled.inlinesvg & {
          background-image: url(#{$svg-path}regional-footer-south-australia.svg);
        }
      }
      &.sagovau {
        width: 120px;
        background-image: url(#{$shared-image-path}regional-footer-sagovau.png);
        .scaled.inlinesvg & {
          background-image: url(#{$svg-path}regional-footer-sagovau.svg);
        }
      }
    }
    .multiplebgs & {
      background-image: url(#{$shared-image-path}regional-menu-shadow.png), url(#{$site-prefix}-footer-background-left.png);
      background-position: top, left;
      background-repeat: repeat-x, no-repeat;
      background-size: auto, auto 100%;
    }
    .scaled.inlinesvg.multiplebgs & {
      background-image: url(#{$shared-image-path}regional-menu-shadow.png), url(#{$svg-path}#{$site-prefix}-footer-background-left.svg);
    }
  }
  .spacer {
    background-image: url(#{$site-prefix}-footer-background-right.png);
    background-position: right;
    width: 100%;
    .scaled.inlinesvg & {
      background-image: url(#{$svg-path}#{$site-prefix}-footer-background-right.svg);
    }
    .multiplebgs & {
      background-image: url(#{$shared-image-path}regional-menu-shadow.png), url(#{$site-prefix}-footer-background-right.png);
      background-position: top, right;
      background-repeat: repeat-x, no-repeat;
      background-size: auto, auto 100%;
    }
    .scaled.inlinesvg.multiplebgs & {
      background-image: url(#{$shared-image-path}regional-menu-shadow.png), url(#{$svg-path}#{$site-prefix}-footer-background-right.svg);
    }
  }
  .disclaimer {
    position: absolute;
    right: 0;
  }
}
