/* Global variables and dependencies, referenced by multiple SCSS files. */

/* File paths */
$image-path: "";
$shared-image-path: "/files/templates/00000000-0000-0000-0000-000000000000/f88a7f3c-df7e-430a-825c-24cfa8dec9a8/";
$svg-path: "/assets/images/svg/";
$shared-svg-path: $svg-path;