/* Site-specific variables, referenced by multiple SCSS files. */
/* SA Arid Lands */

/* Regional file prefix */
$site-prefix: saal;

/* Colours */
$main-brand-color: #d55e00;
$pale-brand-color: #ffdecd;

/* Layout */
$header-background-position: right;
$logotype-width: 208px;
$logotype-height: 60px;
$logotype-margin-top: 18px;
$logotype-margin-left: 18px;

/* Images */
$header-background-image: url(#{$image-path}#{$site-prefix}-header-background.png);
$header-background-svg: $header-background-image;