/* Site-specific variables, referenced by multiple SCSS files. */
/* Northern and Yorke */

/* File prefix */
$site-prefix: ny;

/* Colours */
$main-brand-color: #d18901;
$pale-brand-color: #fce6cd;

/* Layout */
$header-background-position: right;
$logotype-width: 208px;
$logotype-height: 60px;
$logotype-margin-top: 18px;
$logotype-margin-left: 18px;

/* Images */
$header-background-image: url(#{$image-path}#{$site-prefix}-header-background.png);
$header-background-svg: $header-background-image;