/* Site-specific variables, referenced by multiple SCSS files. */
/* National Parks */

/* File prefix */
$site-prefix: npsa;

/* Colours */
$main-brand-color: #08713e;
$pale-brand-color: #d1e0d3;

/* Layout */
$header-background-position: left;
$logotype-width: 208px;
$logotype-height: 60px;
$logotype-margin-top: 18px;
$logotype-margin-left: 18px;