@import "_fancybox.scss";
@import "_fancybox-thumbs.scss";
@import "_forms.scss";

.announcement  {
    margin: 12px 0;
    padding: 12px;

    *:first-child {
        margin-top: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }
}


.fixed-aspect-ratio{
    height: 0;
    padding: 0;
    position: relative;
    width: 100%;

    &--2x1{
        padding-bottom: 50%;
    }

    &--16x9 {
        padding-bottom: 56.25%;
    }

    &--4x3 {
        padding-bottom:75%;
    }

    &__content {
        height: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
    }
}

#content.content__fullwidth {
    float: none;
    width: auto;
    padding: 40px 20px 0;
    margin: 0;
}
