/* Combine the site-specific variables with the styles for site.css file */

@import "../_global.scss";      // Import the global variables
@import "_site.scss";           // Import the site-specific variables - must be done after global variables
@import "../_defaults.scss";    // Import the default variables - must be done after site and global variables have been imported
@import "../_style.scss";       // Import the basic styles
@import "../_1280.scss";        // Import the styles for screens 1280px or larger
@import "../_1279.scss";        // Import additional styles for screens 1279px or less
@import "../_1024.scss";        // Import additional styles for screens 1024px or less
@import "../_640.scss";         // Import additional styles for screens 640px or less

@import "_fancybox.scss";
@import "_fancybox-thumbs.scss";

.announcement  {
    margin: 12px 0;
    padding: 12px;

    *:first-child {
        margin-top: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }
}


.fixed-aspect-ratio{
    height: 0;
    padding: 0;
    position: relative;
    width: 100%;

    &--2x1{
        padding-bottom: 50%;
    }

    &--16x9 {
        padding-bottom: 56.25%;
    }

    &--4x3 {
        padding-bottom:75%;
    }

    &__content {
        height: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
    }
}
