/* Site-specific variables, referenced by multiple SCSS files. */
/* Adelaide and Mount Lofty Ranges */

/* File prefix */
$site-prefix: amlr;

/* Colours */
$main-brand-color: #59178a;
$pale-brand-color: #ded1e8;

/* Layout */
$header-background-position: right;
$logotype-width: 208px;
$logotype-height: 60px;
$logotype-margin-top: 18px;
$logotype-margin-left: 18px;

/* Images */
$header-background-image: url(#{$image-path}#{$site-prefix}-header-background.png);
$header-background-svg: $header-background-image;